asttokens==2.4.1
comm 
contourpy==1.2.1
cycler==0.12.1
debugpy 
decorator 
et-xmlfile 
executing==2.0.1
fonttools==4.53.1
ipykernel 
ipython 
jedi 
jupyter_client==8.6.2
jupyter_core 
kiwisolver==1.4.5
matplotlib==3.9.1.post1
matplotlib-inline 
nest-asyncio 
numpy==2.0.1
openpyxl 
packaging 
pandas==2.2.2
parso 
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess 
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil 
pytz==2024.1
pyzmq 
setuptools==72.1.0
six 
stack-data 
tornado 
traitlets 
tzdata==2024.1
wcwidth 
wheel==0.43.0
